
$color-text-main: #F3F6F6;
$color-text-highlight: #FF6C0A;
$color-text-emphasis: #162D50;
$color-text-secondary: #282828;
$color-text-ternary: #7F7979;

$color-design-main: #83D6E8;
$color-design-secondary: #162D50;

$color-dev-main: #282828;
$color-dev-secondary: #D9D9D9;

