@import './variables';

@media (max-width: 767px) {
    .mainContainer {
      background-image: url('/public/background-mobile.jpg');
      color: $color-text-main;
      min-height: 100vh;
    }
  
    .testingStyle {
      color: $color-text-highlight;
      font-size: 2rem;
    }
  }