@import './variables';
@import './animations.scss';

.Contact__heading {
    // margin-bottom: -10vh;
}

.Contact__headign--title {
    font-size: 2rem;
}

.Contact__headign--subtitle {
    font-size: 1.15rem;
    line-height: 1.25rem;
}

.Contact__image--astronaut {
    height: 45vh;
    margin-left: -5vw;
    animation: floatingAnimation 3s ease-in-out infinite;

}

.Contact__image--logoWhatsapp {
    width: 25vw;
    animation: floatingAnimation 3s ease-in-out infinite;
}

.Contact__form {
    margin-top: 6vh;
}

.Contact__form--group {}

.Contact__form--input {
    border-radius: 2rem;
    padding: .5rem 1rem;
    outline: none;
    width: 100%;
    margin-bottom: 2vh;
    background-color: $gray-middle;
    color: $black-darkest;
    transition: all .35s;
}


.Contact__form--input:focus {
    background-color: $gray-light;
}

.Contact__submit {
    display: flex;
}
.Contact__success--image {
    border-radius: 50%;
    margin-left: 2vw;
}

.Contact__form--input--textarea {
    min-height: 12rem;
    border-radius: .75rem;
}

.Contact__form--button {
    padding: .5rem 1.5rem;
    font-weight: bold;
    background-color: $color-text-highlight;
    color: $color-text-main;
    outline: none;
    border-radius: 2rem;
    width: 100%;
}

@media (min-width: 768px) {
    .Contact {
        padding: 0 5vw !important;
    }
    .Contact__image--logoWhatsapp {
        width: 15vw;
        
    }
}

@media (min-width: 992px) {
    .Contact {
        padding: 0 15vw !important;
    }
    .Contact__image--logoWhatsapp {
        width: 12vw;
        justify-self: start;
    }
    .Contact__form--button {
        width: 30%;
    }
}