.DesignProject {}

.SocialMedia {
    .compactRow {
        width: 80vw;
        text-align: justify;
        margin: 0 auto;

        @media (min-width: 767px) {
            width: 65vw;
        }
    }
}

.Ebooks {}

.Illustrations {}

.ImageGallery {
    font-weight: bold;
    font-size: .8em;

    img {
        transition: 0.25s;
        &:hover {
            cursor: pointer;
            filter: brightness(1.25);
            margin-bottom: 1.5em;
        }
    }

    span {
        letter-spacing: .25em;
    }

    button {
        background: rgba(#5a5a5a, 0.15);
        padding: .5em 1.5em;
        border-radius: 2em;
        border: none;
        color: white;

        &:hover {
            background: rgba(#a7a7a7, 0.45);
        }
    }
}

.ImagePopup {
    .galleryImage {
        border-radius: 5px;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .modalImage {
        border-radius: 2em !important;
    }
}