@import './variables';

.Footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/public/BackgroundFooter.png');
    // background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    min-height: 50vh;
}

.Footer__logo {
    max-height: 2rem;
}

.Footer__title {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 5vh;
}

.Footer__subtitle {
    font-size: .6rem;
    font-weight: bold;
    margin-top: 5vh;
}