.fade-text {
  position: relative;
  text-align: end;
}

.FadeText__col {
  padding-top: 50vh;
}

.fade-text__item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-text__item--visible {
  opacity: 1;
}

.FunnyImage__col {}

.FunnyImage__image {
  position: absolute;
  top: 70vh;
  left: 60vw;
}