@import './animations.scss';
@import './_variables.scss';

.firstTitle--animation {
  animation-duration: 2s;
  animation-name: slidein;
}

.FadeText__item {
  padding: 0 1.5rem;
  margin-top: -4vh;
  opacity: 0;
  position: absolute;
  text-align: end;
  transition: opacity 0.5s;
}

.FadeText__item--visible {
  opacity: 1;
}

.FunnyImage__col {
  height: 50vh;
  margin: 0 4rem;
  text-align: right;
}

.FunnyImage__image--animation {
  animation-duration: 3.65s;
  animation-iteration-count: infinite;
  animation-name: bigHeadBounce;
  @include bigHeadBounce(75vw, 62vw);
}

@media (min-width: 768px) {
  .FunnyImage__image--animation {
    @include bigHeadBounce(50vw, 40vw);
  }

  .FadeText__item {
    margin-top: 5vh;
  }
  
  .FunnyImage__col {
    height: 40vh;
    margin-left: 25vw;
  }

  .FadeText__item  {
    text-align: right;
  }
}

@media (min-width: 992px) {  
  .FunnyImage__image--animation {
    @include bigHeadBounce(30vw, 22vw);
  }
  .FadeText__item {
    margin-top: -10vh;
  }
  
  .FunnyImage__col {
    height: 50vh;
    margin-top: -16vh !important;
    text-align: center;
  }
  
  .FadeText__item  {
    text-align: left;
    max-width: 40vw;
    font-size: 1.5rem;
    margin-bottom: 4vh;
  }
}
