@import './variables';

// Mobile
@media (max-width: 767px) {
    .Root {
        background-image: url('/background-mobile.jpg');
        min-height: 100vh;
        width: 100vw;
        color: $color-text-main;
        font-family: $font-family;

    }

    .title {
        font-family: $font-titles;
    }

    .title-big {
        font-size: 2.5rem;
    }

    .highlight {
        font-weight: bold;
        color: $color-text-highlight;
    }

    .emphasis {
        color: $color-text-emphasis;
    }
}

// Desktop
@media (min-width: 768px) {
    .Root {
        background-image: url('/background-desktop.jpg');
    }
}