@import "bootstrap/scss/bootstrap";
@import './variables';

.title {
    font-family: $font-titles;
}

.title-big {
    font-size: $font-size-title-big;
}

.highlight {
    color: $color-text-highlight;
    font-weight: bold;
}

.emphasis {
    color: $color-text-emphasis;
}

.subtitle {
    font-size: $font-size-subtitle;
    font-style: italic;
}

.Root {
    color: $color-text-main;
    font-family: $font-family;
    overflow-x: hidden;
    width: 100vw;
    padding-top: $padding-y-page;
}

// Mobile
@media (max-width: 767px) {
    .Root {
        background-image: url('/background-mobile.jpg');
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        width: 100vw;
        overflow-x: hidden;
    }
}

// Desktop
@media (min-width: 768px) {
    .Root {
        background-image: url('/background-desktop.jpg');
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        width: 100vw;
        overflow-x: hidden;
    }
}