@import "bootstrap/scss/bootstrap";
@import "./_variables";

.title {
    font-family: $font-titles;
}

.title-big {
    font-size: $font-size-title-big;
}

.highlight {
    color: $color-text-highlight;
    font-weight: bold;
}

.emphasis {
    color: $color-text-emphasis;
}

.subtitle {
    font-size: $font-size-subtitle;
    font-style: italic;
}

.Root {
    color: $color-text-main;
    font-family: $font-family;
    overflow-x: hidden !important;
    width: 100% !important;
    padding-top: $padding-y-page;
    margin: 0;
}

// Mobile
@media (max-width: 767px) {
}

// Desktop
@media (min-width: 768px) {
    .title-big {
        font-size: calc($font-size-title-big * 2);
    }
}

@media (min-width: 992px) {
    .Root {
        font-size: 22px;
    }
}