@import './variables';

.Team__heading {}

.Team__title {
    margin-left: 5vw;
}

.Team__image--astronaut {
    max-height: 30vh;
    margin-left: -15vw;
    rotate: 10deg;
}

.Team__body {}

.Team__body--subtittle {
    font-weight: bold;
    font-size: 1.15rem;
    max-width: 75vw;
    text-align: center;
    margin: 1.65rem auto;
}

.Team__body--bodyText {
    text-align: justify;
    max-width: 80vw;
    margin: 0 auto;
}

.Team__members {
    margin-top: 8vh;
    margin-left: 5vw;
}

.Team__members--title {
    font-size: 3rem;
    color: $color-text-ternary;

}

.Team__members--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Team__members--image {
    max-width: 040vw;
}

.image--Gabriel {
    animation: floatingAnimation 2.5s ease-in-out infinite;
}

.image--Kakau {
    animation: floatingAnimation 3.25s ease-in-out infinite;
}

.Team__members--span {
    padding: .35rem 1.5rem;
    font-weight: bold;
    margin-top: -1.25rem;
}

.span--Gabriel {
    background-color: $color-dev-main;
    color: $color-dev-secondary;
    animation: floatingAnimation 2s ease-in-out infinite;
}

.span--Kakau {
    background-color: $color-design-main;
    color: $color-design-secondary;
    animation: floatingAnimation 2.5s ease-in-out infinite;
}



@keyframes floatingAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}